<div class="form-box">
<table class="table table-condensed table-hover">
    <thead>
        <th> Name </th>
        <th> Team </th>
        <th> Playing </th>
        <th> Qualifications </th>
        <th> Comments </th>
    </thead>
    <tbody>
        <tr ng-repeat="person in people|orderBy:'name'">
            <td> {{person.name}} </td>
            <td> {{person.team.name}} </td>
            <td> 
                <span ng-show="person.playing" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span ng-hide="person.playing" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <td> 
                <span ng-show="person.qualifications[0].status" class="label label-danger">HR</span>
                <span ng-show="person.qualifications[1].status" class="label label-warning">SR</span>
                <span ng-show="person.qualifications[2].status" class="label label-success">AR</span>
                <span ng-show="person.qualifications[3].status" class="label label-info">GR</span>
                <span ng-show="person.qualifications[4].status" class="label label-default">SC</span>
            </td>
            <td> {{person.other}} </td>
        </tr>
    </tbody>
</table>
</div>

<!-- <pre>{{people | json}}</pre> -->