<h1>
  {{title}}
</h1>
<!-- <pre>{{formModel | json}}</pre> -->
<br>
<div class="form-box">
  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label for="name" class="col-md-4 control-label">Full Name</label>
        <div class="col-md-4">
          <input id="name" name="name" type="text" placeholder="Andrew Axtell" required="required" class="form-control input-md" ng-model="formModel.name"/>
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label for="email" class="col-md-4 control-label">Email</label>
        <div class="col-md-4">
          <input id="email" name="email" type="text" placeholder="drewbie@goblue.com" required="required" class="form-control input-md" ng-model="formModel.email"/>
        </div>
      </div>
      <!-- Multiple Checkboxes-->
      <div class="form-group">
        <label for="available" class="col-md-4 control-label">Which days are you available?</label>
        <div class="col-md-4">
          <div class="checkbox" ng-repeat="date in formModel.available">
            <label ng-attr-for="{{'playing-' + date.key}}">
              <input ng-attr-id="{{'playing-' + date.key}}" type="checkbox" ng-model="formModel.available[$index].status"/> {{ date.name }}
            </label>
          </div>
        </div>
      </div>
      <!-- Multiple Checkboxes-->
      <div class="form-group">
        <label for="qual" class="col-md-4 control-label">What positions do you want (and are qualified) to ref?</label>
        <div class="col-md-4">
          <div class="checkbox" ng-repeat="qual in formModel.qualifications">
            <label ng-attr-for="{{'qual-' + qual.key}}">
              <input ng-attr-id="{{'qual-' + qual.key}}" type="checkbox" ng-model="formModel.qualifications[$index].status"/> {{ qual.name }}
            </label>
          </div>
        </div>
      </div>
      <!-- Multiple Radios-->
      <div class="form-group">
        <label for="playing" class="col-md-4 control-label">Are you playing during this tournament?</label>
        <div class="col-md-4">
          <div class="radio">
            <label for="playing-0">
              <input id="playing-0" type="radio" name="playing" value="true" checked="checked" ng-model="formModel.playing"/>Yes
            </label>
          </div>
          <div class="radio">
            <label for="playing-1">
              <input id="playing-1" type="radio" name="playing" value="false" ng-model="formModel.playing"/>No
            </label>
          </div>
        </div>
      </div>
      <!-- Select Basic-->
      <div class="form-group">
        <label for="team" class="col-md-4 control-label">What team are you associated with, if any?</label>
        <div class="col-md-4">
          <!-- <select id="team" name="team" class="form-control" ng-model="selectedItem" ng-options="team for team in teams"></select> -->
          <selectize config="conf" ng-model="formModel.team" required="required"></selectize>
          
        </div>
      </div>
      <!-- Textarea-->
      <div class="form-group">
        <label for="extra" class="col-md-4 control-label">Anything else we should know?</label>
        <div class="col-md-4">
          <textarea id="extra" name="extra" class="form-control" ng-model="formModel.other"></textarea>
        </div>
      </div>
      <!-- Button-->
      <div class="form-group">
        <label for="submit" class="col-md-4 control-label">Submit</label>
        <div class="col-md-4">
          <button id="submit" name="submit" class="btn btn-primary" ng-click="createPerson()">Go!</button>
        </div>
      </div>
      {{ loading }}
    </fieldset>
  </form>
</div>