<h1> Information </h1>
<br/>
<p> All right, here's all the most important stuff you need to know about Western Cup VI. More info will be added here as it becomes available.</p>

<br/>

<div class="form-box md">
<table class="table">
<tbody>
    <tr>
        <td><strong>Date</strong></td>
        <td>February 14-15, 2015</td>
    </tr>
    <tr>
        <td><strong>Location</strong></td>
        <td>Maidu Regional Park (<a href="https://www.google.com/maps/place/Maidu+Park/@38.733892,-121.244037,14z/data=!4m2!3m1!1s0x0:0xb77deb691bb6cb2d" target="_blank">gMaps</a>)</td>
    </tr>
    <tr>
        <td><strong>Registration Deadline</strong></td>
        <td>January 31, 2015 at 08:59pm PST</td>
    </tr>
    <tr>
        <td><strong>Facebook Event</strong></td>
        <td>Soon</td>
    </tr>
    <tr>
        <td><strong>Site Created By</strong></td>
        <td><a href="http://davidbrownman.com" target="_blank">David Brownman</a></td>
    </tr>
    <tr>
        <td><strong>Source Code</strong></td>
        <td><a href="https://github.com/Xavdidtheshadow/western_regionals" target="_blank">Open</a></td>
    </tr>
</tbody>
</table>
</div>