<h1> Statistics </h1>
<br/>

<h3> Progress </h3>
<p> We're <strong>{{100 * num / goal | number:0}}%</strong> of the way to meeting our goal of {{goal}} registered gameplay volunteers. </p>
<div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{num}}" aria-valuemin="0" aria-valuemax="100" style="width: {{100 * num / goal | number:0}}%" ng-class="{red: 'progress-bar-danger', yellow: 'progress-bar-warning', green: 'progress-bar-success'}[color]">
    </div>
</div>
<br/>

<h3> Top Teams </h3>

So far, these are the teams that have contributed the most volunteers each.

<div class="form-box">
<table class="table table-condensed table-hover">
    <thead>
        <th> # Volunteers </th>
        <th> Team </th>
    </thead>
    <tbody>
        <tr ng-repeat="team in teams | orderBy:['-num','_id.name'] | limitTo:5">
            <td> {{team.num}} </td>
            <td> {{team._id.name}} </td>
        </tr>
    </tbody>
</table>
</div>