<h1> Statistics </h1>
<br/>

{{ num / 0.6 }}%
<div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{num}}" aria-valuemin="0" aria-valuemax="100" style="width: {{num}}%">
    </div>
</div>

<p> 
    We've set a goal of 60 referees (an average of 3/team). So far, there are {{num}} volunteers currently signed up.
</p>
<br/>

<h3> Top Teams </h3>

So far, these are the teams that have contributed the most volunteers each.

<div class="form-box">
<table class="table table-condensed table-hover">
    <thead>
        <th> # Volunteers </th>
        <th> Team </th>
    </thead>
    <tbody>
        <tr ng-repeat="team in teams">
            <td> {{team.num}} </td>
            <td> {{team.name}} </td>
        </tr>
    </tbody>
</table>
</div>