p this is a form
.form-box
  form.form-horizontal
    fieldset
      .form-group
        label.col-md-4.control-label(for='name') Full Name
        .col-md-4
          input#name.form-control.input-md(name='name', type='text', placeholder='Andrew Axtell', required)
      // Text input
      .form-group
        label.col-md-4.control-label(for='email') Email
        .col-md-4
          input#email.form-control.input-md(name='email', type='text', placeholder='mal@serenity.co', required)
      // Multiple Checkboxes
      .form-group
        label.col-md-4.control-label(for='available') Which days are you available?
        .col-md-4
          .checkbox
            label(for='available-0')
              input#available-0(type='checkbox', name='available', value='sat')
              | Saturday (2/14)
          .checkbox
            label(for='available-1')
              input#available-1(type='checkbox', name='available', value='sun')
              | Sunday (2/15)
      // Multiple Checkboxes
      .form-group
        label.col-md-4.control-label(for='qual') What positions do you want (and are qualified) to ref?
        .col-md-4
          .checkbox
            label(for='qual-0')
              input#qual-0(type='checkbox', name='qual', value='hr')
              | HR
          .checkbox
            label(for='qual-1')
              input#qual-1(type='checkbox', name='qual', value='sr')
              | SR
          .checkbox
            label(for='qual-2')
              input#qual-2(type='checkbox', name='qual', value='ar')
              | AR
          .checkbox
            label(for='qual-3')
              input#qual-3(type='checkbox', name='qual', value='gr')
              | Goal Ref
          .checkbox
            label(for='qual-4')
              input#qual-4(type='checkbox', name='qual', value='sk')
              | Scorekeeper

      // Multiple Radios
      .form-group
        label.col-md-4.control-label(for='playing') Are you playing during this tournament?
        .col-md-4
          .radio
            label(for='playing-0')
              input#playing-0(type='radio', name='playing', value='yes', checked='checked')
              | Yes
          .radio
            label(for='playing-1')
              input#playing-1(type='radio', name='playing', value='no')
              | No
      // Select Basic
      .form-group
        label.col-md-4.control-label(for='team') What team are you associated with, if any?
        .col-md-4
          select#team.form-control(name='team')
            option(value='1') Option one
            option(value='2') Option two
      // Textarea
      .form-group
        label.col-md-4.control-label(for='extra') Anything else we should know?
        .col-md-4
          textarea#extra.form-control(name='extra')
      // Button
      .form-group
        label.col-md-4.control-label(for='submit') Submit
        .col-md-4
          button#submit.btn.btn-primary(name='submit') Go!
