doctype html(lang='en')
html
  include ./partials/head.jade
     
  body(ng-app='westernRegionals')
    nav#big-bar.navbar(role='navigation')
      .container-fluid
        .navbar-header
          a(ui-sref='/')
            p.brand.navbar-brand Western Cup VI
                 
        div
          ul.nav.navbar-nav
            //- li#users
              //- a(ui-sref='/users') Stats
                       
            li#check
              a(ui-sref='/check') Have I Registered?
         
    .mid
      h2= title 

      div(ui-view)


             
      //- block content

    include ./partials/scripts.jade