body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #228B22;
}

.mid {
    /*text-align: center;*/
    /*padding: 7%;*/
    padding-left: 3%;
}

.navbar {
    border-radius: 0;
}

.form-box {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
    clear: both;
}

.sm {
    width: 40%;
}

.nav a {
    border-bottom: 1px solid #228B22;
    margin-left: 7px;
}

.active a {
    border-bottom: 3px solid #228B22;
}

.brand {
    border: 1px solid #228B22;
}

/* tablet or smaller */
@media only screen and (max-device-width: 786px) {
    .form-box {
        width: 90%;
    }
}